apiVersion: v1
kind: Secret
metadata:
  name: firebase-secrets
  namespace: evidence-vydaju
type: Opaque
stringData:
  FIREBASE_ADMIN_KEY: |
    {
      "type": "service_account",
      "project_id": "<your-project-id>",
      "private_key_id": "<your-private-key-id>",
      "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
      "client_email": "firebase-adminsdk@<your-project-id>.iam.gserviceaccount.com",
      "client_id": "<your-client-id>",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token"
    }
