apiVersion: v1
kind: Secret
metadata:
  name: firebase-secrets
  namespace: evidence-vydaju
type: Opaque
stringData:
  FIREBASE_ADMIN_KEY: |
    {
      "type": "service_account",
      "project_id": "evidence-vydaju-37852",
      "private_key_id": "key_id_here",
      "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
      "client_email": "firebase-adminsdk@evidence-vydaju-37852.iam.gserviceaccount.com",
      "client_id": "123456789012345678901",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token"
    }
